body {
  font-family: 'roboto', sans-serif;
}


.hide {
  display: none;
}


.btn-group {
  width: 100%;
  padding-left: 0;
  border-radius: 0;
}

.btn-primary {
  background: #5091cd;
  color: #fff;
  padding: 0.5em 2em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

.btn-donate {
  font-size: 18px;
  background: #d61215;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: bold;
  border-radius: 0;
  font-family: 'Roboto Condensed', sans-serif;
  border: 0px;
  color: #ffffff;
  padding: 0.5em 1em;
  transition: 0.2s background;
  cursor: pointer;
}


/* HEADER */

.logo {
  text-align: center;
  padding: 1em;
  margin: 222px
}

#logo {
  padding: 1em;
}

.secure-donation {
  padding-right: 1em;
  color: #2e3131;
  margin: 0;
}

.mast-header {
  background: url('../img/PAKISTAN_032019_65.jpg') no-repeat;
  background-size: 100%;
  background-position: ;
  padding: 3em 0;
}

/**** FORM STYLES ****/

/**** STEP 1 - DONATE BOX ****/

/* MAIN DONATE BOX */

.donatebox {
  display: block;
  text-align: center;
  width: 100%;
  padding: 3em 2em 2em 2em;
  border-top: 6px solid #;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  background-color: rgba(255, 255, 255);
  margin: 8em 0 0 0;
  float: left;
  display: block;
}

.donatebox-h1 {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 1em 0;
  font-size: 35px;
}

.donatebox h2 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

/* Donation type (single or regular) */

.donation-type_wrapper {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.donation_type {
  background: #fff;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid #5091cd;
  width: 100%;
  padding: 0.5em;
  border-radius: 0;

}

.donation_type.active {
  background: #5091cd;
  border: 2px solid #5091cd;
  color: #fff;
}

/* Donation amount */

.donation-amount_wrapper {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  padding: 0;
  width: 100%;
}

.donation_amount {
  border: 2px solid #5091cd;
  padding: 0.5em;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  color: #5091cd;
  border-radius: 0;
  text-transform: none;
  background: #fff;
  width: 100%;
}

.donation_amount.active {
  background: #5091cd;
  border: 2px solid #5091cd;
  color: #fff;
}

.amount-hide-radio {
  visibility: hidden;
}

.other-amount {
  border: 2px solid #5091cd;
  height: 50px;
  width: calc(100% - 35px);
  padding: 10px 0 10px 15px;
}

.other-amount-pound {
  font-size: 25px;
  font-weight: bold;
  color: #004990;
  width: 30px;
  display: inline-block;
  vertical-align: sub;
}


.donation-projectchoice_wrapper {
  padding: 0;
}

.card {
  margin-bottom: 1em;
  border: none;
}

.card-header {
  background: #;
  color: #5091cd;
  margin-bottom: 0.5em;
  border: none;
  shadow: none;
  cursor: pointer;
}

.card-header h2 {
  color: #004990;
  font-size: 1em;
}

/* FACTS/INTRO SECTION */

.facts {
  background: #eee;
  padding: 3em 1em;
}

.facts h3 {
  color: #5091cd;
  font-weight: bold;
  font-size: 1.5em;
}

.facts h3 span {
  color: #004990;
}

/* BIBLE VERSE SECTION */

.bible-verse {
  padding: 4em 0;
}

blockquote {
  font-weight: 300;
  color:#5091cd;
}
.bible-verse blockquote span {
  font-weight: bold;
  color:#004990;
}
/* OTHER WAYS TO GIVE SECTION */


/* CALL TO ACTION SECTION */

.cta {
  font-weight: bold;
}

/* FOOTER */

.footer {
  background: #004990;
  color: #fff;
}

hr {
  background: #fff;
}


// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  @media (min-width: 992px) {
  .donatebox {
    display: block;
    text-align: center;
    width: 500px;
    padding: 3em 2em 2em 2em;
    opacity: ;
    border-top: 6px solid #;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    background-color: rgba(255, 255, 255);
    margin: 4em 0;
  }

  .donatebox-h1 {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 1em 0;
    font-size: 35px;
  }

  .donatebox h2 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
  }

  /* Donation type (single or regular) */

  .donation-type_wrapper {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .donation_type {
    background: #fff;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid #5091cd;
    width: 100%;
    padding: 0.5em;
    border-radius: 0;

  }

  .donation_type.active {
    background: #5091cd;
    border: 2px solid #5091cd;
    color: #fff;
  }


  /* Donation amount */

  .donation-amount_wrapper {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    padding: 1em 0 0 0;
    width: 100%;
  }

  .donation_amount {
    border: 2px solid #5091cd;
    padding: 1em;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    color: #5091cd;
    border-radius: 0;
    text-transform: none;
    background: #fff;
    width: 100%;
  }

  .donation_amount.active {
    background: #5091cd;
    border: 2px solid #5091cd;
    color: #fff;
  }

  .amount-hide-radio {
    visibility: hidden;
  }

  .other-amount {
    border: 2px solid #5091cd;
    height: 50px;
    width: 100px;
    padding: 10px 0 10px 10px;
  }

  #otheramount {
    transition: all 1s ease-in;
    padding: 1em 0;
  }

  .other-amount-text {
    font-size: 20px;
  }

  .other-amount-pound {
    font-size: 25px;
    font-weight: bold;
    color: #004990;
  }

  .donation-projectchoice_wrapper {
    padding: 0;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  ...
}

// Large devices (desktops, 992px and up)


}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ...
}